{% extends 'shop_app/base.html' %}
{% block title %}{{ client.name }} заказы{% endblock %}
{% block content %}
<h2>Уникальные товара из заказов клиента: {{ client.name }} за периоды:</h2>
<h3>За неделю</h3>
<table border="1">
    <tr><td>product name</td><td>qts</td><td>price</td></tr>
    {% for product in week %}
    <tr>
        <td> {{ product.title }}</td>
                <td> {{ product.qts }}</td>
        <td> {{ product.price }}</td>
    </tr>
        {% endfor %}

{% endfor %}


</table>
{% endblock %}